{% extends "layouts/base.html.twig" %}

{% block title %}Hello {{ name }} | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Hello, {{ name }}</h1>

    <p><a href="/">Back to Home</a></p>
{% endblock %}