{% extends "layouts/base.html.twig" %}

{% block title %}Home Page | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Silex App Home Page</h1>

    <p>This comes from Twig!</p>
{% endblock %}