{% extends "layouts/base.html.twig" %}

{% block title %}Home Page | {{ parent() }}{% endblock %}

{% block content %}
    <h1>Silex App Home Page</h1>

    <form action="/hello" method="POST">
        <label for="name">What's your name, stranger?</label>
        <input type="text" id="name" name="name" />

        <button type="submit">Say Hello!</button>
    </form>
{% endblock %}